body{
  background-color: #2d2d2f;
}
.main-header{
  margin-top: 350px;
  margin-bottom: 350px;
}
.article-title{
  background-color: #006064;
  margin-bottom: 100px;
}
.article-content{
  margin-bottom: 100px;
}
@media all and (max-width: 1200px){
  .main-header{
    margin-top: 300px;
    margin-bottom: 300px;
  }
}
@media all and (max-width: 1000px){
  .main-header{
    margin-top: 275px;
    margin-bottom: 750px;
  }
}
@media all and (max-width: 800px){
  .main-header{
    margin-top: 250px;
    margin-bottom: 250px;
  }
}
@media all and (max-width: 600px){
  .main-header{
    margin-top: 200px;
    margin-bottom: 200px;
  }
}
@media all and (max-width: 300px){
  .main-header{
    margin-top: 175px;
    margin-bottom: 175px;
  }
}
